html {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    font-family: Verdana;
    color: aquamarine;
    font-size: 16px;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

p.copyright {
    color: gray;
    text-align: right;
}

.video {
    margin-top: 50px;
}

.image {
    margin-top: 30px;
}